/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #eee;
}

.jumbotron p {
  padding: 0;
}

.image {
  width: 250px;
  float: center;
  margin: auto;
}

.jumbotron .image img {
  margin-top: 30px;
  width: 100%;
  float: center;
}

.jumbotron .wave {
  margin: auto;
  width: 200px;
  float: center;
}

.jumbotron .wave img {
  width: 100%;
  margin-top: 5px;
}

.text {
  width: 200px;
  float: center;
  margin: 10px auto;
  color: dodgerblue;
}

.text p {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-header .navbar-brand {
  padding-top: 0;
}

.buttons {
  margin-top: 30px;
}

.buttons button {
  width: 80px;
  margin: 0 10%;
}

.btn-success {
  float: left;
}

.btn-danger {
  float: right;
}

.invis button {
  background: transparent;
  border: none !important;
  width: 170px;
  height: 50px;
  margin: 5px;
}