/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #eee;
}

.jumbotron p {
  padding: 0;
}

.image {
  width: 150px;
  float: center;
  margin: auto;
}

.jumbotron img {
  margin: 30px 0;
  width: 100%;
}

.navbar-header .navbar-brand {
  padding-top: 0;
}

.buttons {
  margin-top: 30px;
}

.buttons button {
  width: 80px;
  margin: 0 10%;
}

.btn-success {
  float: left;
}

.btn-danger {
  float: right;
}

.sos {
  width: 150px;
  float: center;
  margin: auto;
}

.sos img {
  margin-top: 30px;
  width: 100%;
  float: center;
}

.ouch {
  text-align: center;
}

.buttons-baby {
  width: 150px;
  float: center;
  margin: auto;
}

.buttons-baby button {
  margin-top: 30px;
  width: 100%;
  float: center;
}

.buttons-test {
  width: 200px;
  float: center;
  margin: auto;
}

.buttons-test button {
  margin-top: 30px;
  width: 100%;
  float: center;
}

.inst {
  border: 5px solid black;
  border-radius: 10px;
}

.vid {
  margin: auto;
  float: center;
  width: 320px;
}

.vid video {
  float: center;
  width: 100%;
  margin-top: 15px;
}

.buttons-testt {
  width: 85px;
  float: center;
  margin: auto;
}

.buttons-testt button {
  margin-top: 0px;
  width: 100%;
  float: center;
}


.buttonsss {
  margin: auto;
  width: 100px;
  float: center;
}

.buttonsss button {
  width: 100%;
  margin-top: 15px;
}

.asdf {
  border: 5px solid black;
  border-radius: 10px;
  margin: 15px auto;
  width: 200px;
  height: 40px;
}

.asdf a {
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.asdf li {
  padding: 10px;
}

.dropdown-menu {
  min-width: 190px;
  text-align: center;
}