/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #eee;
}

.jumbotron p {
  padding: 0;
}

.navbar-header .navbar-brand {
  padding-top: 0;
}

.buttons {
  margin-top: 30px;
}

.buttons button {
  margin: 0 15%;
}

.btn-success {
  float: left;
}

.btn-danger {
  float: right;
}